.post-item {
    margin: 2em 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
.post-item-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post-item__avatar {
    border-radius: 50%;
    margin-right: 2em;
}
.post-item__username {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.post-item__username:hover {
    text-decoration: underline;
}
.post-item__title {
    font-weight: bold;
}
.post-item__title:first-letter,  .post-item__body:first-letter {
    text-transform: capitalize;
}
.post-item__body {
    font-size: 14px;
    line-height: 23px;
    word-wrap: break-word;
}
.post-item__date{
    color: gray;
    font-style: italic;
    text-align: right;
}
.fade-in {
    transition: opacity 1s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}