.error {
    color: red;
    font-weight: bold;
    margin: 30px 0;
}
.error svg {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
