html, body {
  font-family: "Open Sans",Calibri,Helvetica,sans-serif;
  margin: 0;
}
.usual-button {
  background: #7bbc3b;
  color: black;
  border: 0 none;
  padding: 15px;
  font-family: "Open Sans",Calibri,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}
.added__info {
  color: limegreen;
  margin: 20px 15px;
  font-weight: 600;
}
.added__info.red {
  color: red;
}
.hidden {
  display: none
}
.breadcrumbs h1 {
  font-size: 18px;
  font-weight: 600;
  color: #898989;
}
@media (min-width: 768px) {
  .usual-button {
    font-size: 0.9em;
  }
}
@media (min-width: 1220px) {
  .usual-button {
    font-size: 0.8em;
  }
}
@media (max-width: 989px) {
  .mobile-hidden {
    display: none
  }
}
@media (min-width: 990px) {
  .desktop-hidden {
    display: none
  }
}
