.main, .block {
    width: calc(100% - 20px);
    margin: 0 10px 20px 10px;
}
@media (min-width: 768px) {
    .block {
        width: auto;
        max-width: 1200px;
    }
}
@media (min-width: 1220px) {
    .block {
        margin-left: auto;
        margin-right: auto;
    }
}