@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.loading__spinner {
    width: 50px;
    height: 50px;
    border-style:solid;
    border-color: #383636;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    display: inline-block;
    animation: spinner 1.5s linear infinite;
}
  
.loading__container {
    display: grid;
    justify-content: center;
    align-items: center;
}