.top {
    background: black;
    color: #fff;
    flex-direction: row;
}
.top-content {
    display: flex;
}
.top-content--mobile {
    justify-content: space-between;
    flex-wrap: wrap;
}
.top-content--mobile  .logo-top{
    margin-right: 10px;
}
.top-content--expanded {
    width: 100%
}
.top-content--expanded ul {
    padding: 0
}
.top-content--expanded + .logo-top{
    display: none
}
.logo {
    width: 100px
}
.logo-top {
    display: flex;
    align-items: center;
}
.logo-top-link {
    display: flex;
    align-items: center;
}
.navigation {
    color: white;
    margin: 0;
    flex-direction: row;
    display: flex;
}
.navigation-item {
    display: block;
    padding: 15px 20px;
}
.navigation-item.active {
    background: #77b539;
}
.navigation-item.active .navigation-link {
    color: white;
}
.navigation-link {
    text-decoration: none;
    text-align: center;
    color: #898989;
}
.navigation li {
    border-right: 1px solid white;
}
.navigation li:last-child {
    border-right: 0 none;
}