.statistics-header {
    font-weight: bold;

}
.statistics-text {
    display: grid;
    grid-template-areas:
      'header header'
      'main main'
      'cell cell';
    gap: 5px;
    padding: 5px;
  }
  
  .statistics-text > div {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
  }
.statistics-info{
    grid-area: header;
}
.statistics-charts text{
  font-size: 1.1em;
  line-height: 2em;
}
.statistics-charts svg{
  overflow: visible !important;
}
.statistics-charts div[dir="ltr"], .statistics-charts svg,
.statistics-charts rect, .statistics-charts text,.statistics-charts g{
  max-width: 100%;
  width: auto;
  padding: 0;
}
@media (max-width: 600px) {
  .statistics-charts svg{
    margin-left: -20px;
  }
}