.footer {
    background-color: #000;
    color: #fff;
}
.social-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.footer-contents {
    width: auto;
    max-width: 1200px;
    padding: 20px 0;
}
.social-list__item svg {
    width: 30px;
    height: 30px;
}
@media (min-width: 768px) {
    .footer-contents {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .footer-copywright{
        margin: 50px 0;
    }
    .social-icons {
        width: 30%;
        margin: 35px 0;
    }
}