.author-top {
    background-color: #000;
    text-align: center;
    padding: 30px 0;
}
.author__avatar {
    border-radius: 50%;
    margin-right: 2em;
}
.author__name {
    color: #fff;
    font-weight: bold
}
.author__type {
    font-weight: bold;
    color: #6b727b;
}
.author-detail {
    display: block;
    font-family: "Open Sans",Calibri,Helvetica,sans-serif;
    font-size: 15px;
}
.author__tabs .author__tab {
    color: #6b727b;
    text-transform: capitalize;
    font-family: "Open Sans",Calibri,Helvetica,sans-serif;
}
.author__tabs .author__tab[aria-selected="true"]{
    font-weight: bold;
    color: #000;
}
.author-post__title {
    font-weight: bold;
    cursor: pointer
}
.author-post__title:first-letter,  .author-post__body:first-letter {
    text-transform: capitalize;
}
.author-post__body {
    font-size: 14px;
}
.author-detail-label {
    font-size: 17px;
    letter-spacing: -0.5px;
    margin-right: 10px;
    display: inline-block;
    font-weight: 500;
}
.author-post {
    text-align: justify
}
.author-post.opened .author-post__toggle.closed,
.author-post.closed .author-post__toggle.opened,
.author-post.closed .author-post__body{
    display: none
}
.author-tab {
    display: flex;
}
.author-tab > div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    width: 100%;
}
.author-map, .author-inner, .author-post__date {
    display: block;
}
.author-map, .author-map iframe {
    width: 100%;
    max-width: 600px;
    height: 500px;
}
.author-details {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.author-post__toggle {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}
.author-post__toggle svg {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}
.author-post__date{
    color: gray;
    font-style: italic;
    text-align: right;
}

@media (min-width: 990px) {
    .author-post {
        max-width: 80%;
    }
}
@media (min-width: 1024px) {
    .author-tab > div {
        flex-direction: row;
    }
}