.author-item, .author-bottom, .author-item-right {
    display: flex;
}
.author-item {
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    padding-top: 20px;
}
.author-item:last-child {
    border-bottom: 0 none;
}
.author-item-left{
    margin-right: 2em;
    width: calc(40% - 2em);
}
.author-item-right {
    flex-direction: column;
    width: 50%;
}
.author-bottom, .author-item__posts, .author-item__link {
    display: block;
}
.author-item__posts {
    margin: 0;
}
.author-item__link {
    margin-top: 10px;
}
.author-item__avatar {
    border-radius: 50%;
    margin-right: 2em;
}
.author-item__name, .author-item__username, .author-item__email {
    margin: 0 0 10px 0;
}
.author-item__username, .author-item__email {
    font-weight: bold;
}
.author-item__name, .author-item__email, .author-item__posts{
    color: #6c737c;
}
.author-item__link {
    display: block;
    color: #b5b5b5;
    text-decoration: none;
    white-space: nowrap;
}
.author-item__link:hover {
    text-decoration: underline
}
@media (min-width: 480px) and (max-width: 767px) {
    .author-item-left{
        width: calc(30% - 2em);
    }
}
@media (min-width: 768px) and (max-width: 989px) {
    .author-item-left{
        width: calc(20% - 2em);
    }
}
@media (min-width: 768px) {
    .author-item__link {
        display: inline-block;
    }
    .author-bottom {
        display: flex;
        justify-content: space-between;
    }
    .author-item__link {
        margin-top: 0
    }
}
@media (min-width: 990px)  {
    .author-item-left{
        width: calc(15% - 2em);
    }
}
