.form-input {
    width: calc(100% - 24px);
    max-width: 376px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
}
.form-input:hover, .form-textarea:focus {
    border-color: #3399FF;
}
.form-input:focus, .form-textarea:focus {
    border-color: #3399FF;
    box-shadow: 0 0 0 0 transparent;
}
.form-input:focus-visible, .form-textarea:focus-visible {
    outline: 0; 
}
.form-input, .form-textarea {
    border: 2px solid #d0d0ce;
    box-shadow: 0px 2px 2px #F3F6F9;
    padding: 8px 12px;
    color: #1A2027;
    background: #fff;
}
.form-input, .form-textarea, .form-option-item {
    font-family: "Open Sans",Calibri,Helvetica,sans-serif !important;
}
.form-textarea {
    max-width: 376px;
    width: calc(100% - 24px);
    height: 98px;
}
.form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 1em;
}
.form-row {
    margin-bottom: 10px;
}
.form-close {
    position: absolute;
    right: 32px;
    top: 28px;
    cursor: pointer;
}
.MuiSelect-select {
    padding: 9px;
}
.form-option-item {
    display: flex;
    align-items: center;
}
.form-option-avatar {
    border-radius: 50%;
    margin-right: 1.5em;
}
.form-option-username {
    font-weight: bold;
}
.form-error {
    color: red;
    font-size: 12px;
}
.form-option-placeholder, .form-option-username {
    font-size: 14px;
}
.form-horizontal {
    display: flex;
    flex-wrap: wrap;
}
.form-horizontal label {
    flex: 0 0 100%;
}
.form-wider {
    flex: 4 1;
}
.form-narrower {
    flex: 1 1;
    margin-left: 5px;
}